/*canvas{
  margin: 10px;
}*/
.header{
  height: 40px;
  background-color: #333;
}
.content{
  padding: 10px;
}
.cards{
  padding: 10px;
  background-color: #ecebeb;
  border-radius: 10px;
  margin-bottom: 10px;
}
md-input-container{
  margin: 0px !important;
}
input[type=text]
{
    background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
    color: black;/*#979797;*/
    height: 28px;
    padding-left:10px;
    width: 191px;
    box-shadow: 2px 2px 0 #828181 inset;
}
input[type=button]
{
    background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
}

input[type=button], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}
center{
  padding: 5px;
}
.sidebar{
  width:300px;
  overflow:auto;
}
