<html>
<head>

  <link rel="stylesheet" media="screen" type="text/css"
      href="/angular-material/angular-material.min.css">
  <link rel="stylesheet" media="screen" type="text/css"
      href="../css/objectmesh.css">

  <script src="/angular/angular.min.js"></script>
  <script src="/angular-resource/angular-resource.min.js">
      </script>
  <!-- <script src="/angular-route/angular-route.min.js">
      </script> -->
  <script src="/angular-animate/angular-animate.min.js">
      </script>
  <script src="/angular-aria/angular-aria.min.js"></script>
  <script src="/angular-material/angular-material.min.js">
      </script>

  <script src="../js/triangulate.js"></script>
  <script src="../js/srv_rest_api.js"></script>
  <script src="../js/app_objectmesh.js"></script>
  <script src="../js/ctr_main_controller.js"></script>
<!-- <script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/graph1.js"></script>
<script type="text/javascript" src="../js/graph2.js"></script> -->
</head>
   <body ng-app="objectmesh" ng-controller="main_controller" layout="column">
     <div class="header" layout="row" layout-align="center center">
       <div style="color:white">Object Mesh</div>
     </div>
     <div class="content" layout="row" flex>
       <div layout="column" flex>
        <canvas id="can1" style="border:2px solid;" flex ng-init="init()"></canvas>
        <md-slider ng-model="centre.x" min="-{{w/2}}" max="{{w/2}}"
            aria-label="x" id="x" class="md-primary">
        </md-slider>
       </div>
       <div layout="row">
         <div layout="column">
           <md-slider ng-model="centre.y" min="{{-h/2}}" max="{{h/2}}" aria-label="y"
              id="y-slider" class="md-primary" md-vertical md-range flex>
            </md-slider>
            <div style="height:48px"></div>
         </div>
         <div layout="column">
           <md-slider ng-model="zoom" min="0.5" max="10" step="0.1" aria-label="zoom"
              id="zoom" class="md-primary" md-vertical md-range flex>
            </md-slider>
            <div style="height:48px"></div>
         </div>
         <div layout="column" class="sidebar">
           <div layout="column" class="cards" layout-align="center">
             <B><center>COORDINATES</center></B>
             <div layout="row" style="padding:4px" layout-align="space-around center"
                  ng-repeat="C in coord">
               X{{$index+1}}: <input type="text" style="width:70px" ng-model="C.X"></input>
               Y{{$index+1}}: <input type="text" style="width:70px" ng-model="C.Y"></input>
             </div>
           </div>
           <div layout="column" class="cards" layout-align="center"
                ng-repeat="C in coord">
             <B><center>Distance for coordinate {{$index+1}}</center></B>
             <div layout="row" style="padding:4px" layout-align="space-around center">
               <span style="width:40px">{{w}}</span>
               <span style="width:70px">EC01</span>
               <span style="width:70px">EC02</span>
               <span style="width:70px">EC03</span>
             </div>
             <div layout="row" style="padding:4px" layout-align="space-around center">
               <span style="width:40px">EC01</span>
               <input type="text" style="width:70px" ng-model="C.dist['EC01']['EC01']"></input>
               <input type="text" style="width:70px" ng-model="C.dist['EC01']['EC02']"></input>
               <input type="text" style="width:70px" ng-model="C.dist['EC01']['EC03']"></input>
             </div>
             <div layout="row" style="padding:4px" layout-align="space-around center">
               <span style="width:40px">EC02</span>
               <input type="text" style="width:70px" ng-model="C.dist['EC02']['EC01']"></input>
               <input type="text" style="width:70px" ng-model="C.dist['EC02']['EC02']"></input>
               <input type="text" style="width:70px" ng-model="C.dist['EC02']['EC03']"></input>
             </div>
             <div layout="row" style="padding:4px" layout-align="space-around center">
               <span style="width:40px">EC03</span>
               <input type="text" style="width:70px" ng-model="C.dist['EC03']['EC01']"></input>
               <input type="text" style="width:70px" ng-model="C.dist['EC03']['EC02']"></input>
               <input type="text" style="width:70px" ng-model="C.dist['EC03']['EC03']"></input>
             </div>
           </div>
         </div>
       </div>
     </div>
   </body>
   </html>
